
*.xml

old/ciscoSsh

*.json

*.text

*.txt

*.yml

*.md

*.html

*.css

*.png

*.log

*.js

*.ts

*.ico

id_rsa

*.pem

templates

node_modules

typings
*.js.map

webExample/node_modules/angular-cli/node_modules/.bin/typings
